<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <span class="navbar-brand">CRUD</span>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a
        class="nav-item nav-link active"
        routerLink="/products"
        routerLinkActive="active"
      >Produtos</a>
      <a
        class="nav-item nav-link"
        routerLink="/batches"
        routerLinkActive="active"
      >Lotes</a>

      <a class="nav-item nav-link disabled" href="#">Usuários</a>
    </div>
  </div>
</nav>
