<div class="container d-flex my-4 justify-content-between">
  <h3>Listagem de produtos</h3>

  <a
    role="button"
    aria-pressed="true"
    class="btn btn-success btn-lg"
    routerLink="#"
    routerLinkActive="active"
  >Cadastrar</a>
</div>

<table class="container table table-hover">
  <caption>Produtos cadastrados: 8</caption>

  <thead class="thead-dark">
    <tr>
      <th scope="col" width="1">N°</th>
      <th scope="col" width="130">Nome</th>
      <th scope="col" width="50">Preço</th>
      <th scope="col" width="200">Lote</th>
      <th scope="col">Descrição</th>
      <th class="text-center" scope="col" width="150">Ações</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let p of products">
      <th scope="row">{{p.id}}</th>
      <td>{{p.nome}}</td>
      <td>{{p.preco}}</td>
      <td>{{p.batch}}</td>
      <td>{{p.descricao}}</td>

      <td class="text-center">
        <button type="button" class="btn">
          <i class="cil-pencil"></i>
        </button>
        <button type="button" class="btn">
          <i class="cil-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
