<div class="container d-flex my-4 justify-content-between">
  <h3>Listagem de produtos</h3>

  <a
    role="button"
    aria-pressed="true"
    class="btn btn-success btn-lg"
    routerLink="/create-product"
    routerLinkActive="active"
  >Cadastrar</a>
</div>

<app-table
  name="product"
  [itemHeaders]="productTableHeaders"
  [items]="products"
  [captionLabel]="'Produtos cadastrados: ' + productsNumber"

  editLink="/edit-product"

  [handleDeleteButtonClick]="handleDeleteProduct"
  deleteModalTitle="Deseja mesmo DELETAR o produto?"
  deleteModalBody="Se clicar no botão DELETAR, o produto será apagado dos nossos registros."
  deleteModalCloseButtonLabel="Voltar"
  deleteModalContinueButtonLabel="Deletar"
></app-table>

<!--
<table class="container table table-hover text-center">
  <caption>Produtos cadastrados: {{productsNumber}}</caption>

  <thead class="thead-dark">
    <tr>
      <th scope="col" width="1">ID</th>
      <th scope="col" width="130">Nome</th>
      <th scope="col" width="100">Preço</th>
      <th scope="col" width="200">Lote</th>
      <th scope="col">Descrição</th>
      <th scope="col" width="150">Ações</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let product of products">
      <th class="align-middle" scope="row">{{product.id}}</th>
      <td class="align-middle">{{product.nome}}</td>
      <td class="align-middle">R$ {{product.preco.replace('.', ',')}}</td>
      <td class="align-middle">{{product.batch}}</td>
      <td class="align-middle">{{product.descricao}}</td>

      <td>
        <a
          role="button"
          aria-pressed="true"
          class="btn btn-lg"
          [routerLink]="['/edit-product', product.id]"
          routerLinkActive="active"
        >
          <i class="cil-pencil"></i>
        </a>

        <button
          type="button"
          class="btn btn-lg"
          data-toggle="modal"
          [attr.data-target]="'#delete-product-modal' + product.id"
        >
          <i class="cil-trash"></i>
        </button>

        <app-delete-modal
          [modalId]="'delete-product-modal' + product.id"
          modalTitle="Deseja mesmo DELETAR o produto?"
          modalBody="Se clicar no botão DELETAR, o produto será apagado dos nossos registros."
          closeButtonLabel="Voltar"
          continueButtonLabel="Deletar"
          [handleClickContinueButton]="handleDeleteProduct.bind(this, product.id)"
        ></app-delete-modal>
      </td>
    </tr>
  </tbody>
</table>
-->
