<div class="container d-flex my-4 justify-content-between">
  <h3>Listagem de lotes</h3>

  <a
    role="button"
    aria-pressed="true"
    class="btn btn-success btn-lg"
    routerLink="/create-batch"
    routerLinkActive="active"
  >Cadastrar</a>
</div>


<!--
<app-table
  [items]="batches"
  captionLabel="Lotes cadastrados: "
  [captionData]="batchesNumber"
></app-table>
-->


<table class="container table table-hover text-center">
  <caption>Lotes cadastrados: {{batchesNumber}}</caption>

  <thead class="thead-dark">
    <tr>
      <th scope="col" width="100">Código</th>
      <th scope="col" width="10">Tamanho</th>
      <th scope="col" width="200">Fabricante</th>
      <th scope="col" width="150">Data de fabricação</th>
      <th scope="col" width="150">Data de validade</th>
      <th scope="col" width="150">Ações</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let batch of batches">
      <th class="align-middle" scope="row">{{batch.code}}</th>
      <td class="align-middle">{{batch.size}}</td>
      <td class="align-middle">{{batch.producer}}</td>
      <td class="align-middle">{{batch.produce_date}}</td>
      <td class="align-middle">{{batch.shelf_life}}</td>

      <td class="align-middle">
        <a
          role="button"
          aria-pressed="true"
          class="btn btn-lg"
          [routerLink]="['/edit-batch', batch.id]"
          routerLinkActive="active"
        >
          <i class="cil-pencil"></i>
      </a>

        <button
          class="btn btn-lg"
          (click)="deleteBatch(batch)"
        >
          <i class="cil-trash"></i>
      </button>
      </td>
    </tr>
  </tbody>
</table>
