<div class="container d-flex my-4 justify-content-between">
  <h3>Listagem de lotes</h3>

  <a
    role="button"
    aria-pressed="true"
    class="btn btn-success btn-lg"
    routerLink="/create-batch"
    routerLinkActive="active"
  >Cadastrar</a>
</div>

<app-table
  name="batch"
  [itemHeaders]="batchTableHeaders"
  [items]="batches"
  [captionLabel]="'Lotes cadastrados: ' + batchesNumber"

  editLink="/edit-batch"

  [handleDeleteButtonClick]="handleDeleteBatch"
  deleteModalTitle="Deseja mesmo DELETAR o lote?"
  deleteModalBody="Se você clicar no botão DELETAR, o lote será apagado dos nossos registros."
  deleteModalCloseButtonLabel="Voltar"
  deleteModalContinueButtonLabel="Deletar"
></app-table>
