<div class="container d-flex my-4 justify-content-between">
  <h3>Listagem de lotes</h3>

  <a
    role="button"
    aria-pressed="true"
    class="btn btn-success btn-lg"
    routerLink="/create-batch"
    routerLinkActive="active"
  >Cadastrar</a>
</div>

<table class="container table table-hover text-center">
  <caption>Lotes cadastrados: 3</caption>

  <thead class="thead-dark">
    <tr>
      <th scope="col" width="100">Código</th>
      <th scope="col" width="10">Tamanho</th>
      <th scope="col" width="200">Fabricante</th>
      <th scope="col" width="150">Data de fabricação</th>
      <th scope="col" width="150">Data de validade</th>
      <th scope="col" width="150">Ações</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let b of batches">
      <th class="align-middle" scope="row">{{b.code}}</th>
      <td class="align-middle">{{b.size}}</td>
      <td class="align-middle">{{b.producer}}</td>
      <td class="align-middle">{{b.produce_date}}</td>
      <td class="align-middle">{{b.shelf_life}}</td>

      <td class="align-middle">
        <a
          role="button"
          aria-pressed="true"
          class="btn btn-lg"
          routerLink="#edit"
          routerLinkActive="active"
        >
          <i class="cil-pencil"></i>
        </a>

        <a
          role="button"
          aria-pressed="true"
          class="btn btn-lg"
          routerLink="#delete"
          routerLinkActive="active"
        >
          <i class="cil-trash"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
