<table class="container table table-hover text-center text-break">
  <caption>{{captionLabel}}</caption>

  <thead class="thead-dark">
    <tr>
      <th width="5%" scope="col">N°</th>

      <th
        *ngFor="let head of itemHeaders"
        width={{head.width}}
        scope="col"
      >
        {{head.title}}
      </th>

      <th width="15%" scope="col">Ações</th>
    </tr>
  </thead>

  <tbody>
    <tr
      *ngFor="let itemObject of items; let i = index"
    >
      <th class="align-middle" scope="row">{{i + 1}}</th>

      <td
        class="align-middle"
        *ngFor="let header of itemHeaders"
      >
        <span *ngIf="header.symbol">{{header.symbol}} </span>
        {{itemObject[header.name]}}
      </td>

      <td class="align-middle">
        <a
          role="button"
          aria-pressed="true"
          class="btn btn-lg"
          [routerLink]="[editLink, itemObject.id]"
          routerLinkActive="active"
        >
          <i class="cil-pencil"></i>
        </a>

        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-lg"
          data-toggle="modal"
          [attr.data-target]="'#' + name + itemObject.id"
        >
          <i class="cil-trash"></i>
        </button>
        <!-- Button trigger modal -->

        <app-delete-modal
          [modalId]="name + itemObject.id"
          modalTitle={{deleteModalTitle}}
          modalBody={{deleteModalBody}}
          closeButtonLabel={{deleteModalCloseButtonLabel}}
          continueButtonLabel={{deleteModalContinueButtonLabel}}
          [handleClickContinueButton]="handleDeleteButtonClick.bind(this, itemObject.id)"
        ></app-delete-modal>
      </td>
    </tr>
  </tbody>
</table>

<!--

  items = [ {id, code, attr}, {...} ]
  item_headers = [ {name, title}, {...} ]

  <thead>
    <tr>
      <th>N°<th>

      <th
        *ngFor=" header of item_headers "
      >{{ header.title }}</th>

      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <tr
      *ngFor=" item of items; i = index " -> item = {id, code, attr}
    >
      <th>{{ i + 1 }}</th>

      <td
        *ngFor=" header of item_headers "
      >{{ item[header.name] }}</td>

      <td>Action Buttons...</td>
    </tr>
  </tbody>

 -->
